// Navbar
.navbar {
	border-radius: 0;
	margin-bottom: 0;
}
.navbar-default {
	min-height: 60px;
	background-color: $grey-bg;
	.container-fluid {
		padding-right: 30px;
	}
	.navbar-nav {
		& > .open {
			& > a {
				background-color: $grey-sidebar-font;
				&:focus,
				&:active,
				&:active:focus {
					background-color: $grey-sidebar-font;
				}
			}
		}
	}
	.navbar-search {
		padding-left: 20px;
		margin-top: 13px;
		margin-bottom: 13px;
		input {
			min-width: 250px;
		}
	}
}

.navbar-brand {
	height: 60px;
	font-size: 2.6em;
	font-weight: 300;
	& > img {
		display: inline-block;
		max-height: 100%;
	}
	span {
		font-family: $font;
		position: relative;
		top: 4px;
		margin-left: 9px;
		color: $brand-teal;
	}
}

.navbar-nav {
	& > li {
		& > a {
			line-height: 30px;
			font-family: $font;
			font-weight: 500;
			color: $grey !important;
		}
		&.open {
			& > a {
				color: $grey-sidebar !important;
			}
		}
	}
	.dropdown-menu {
		background-color: $grey-sidebar-font;
		border-color: transparent;
		border-top: 0;
		& > .active {
			& > a {
				background-color: $brand-green;
				color: $white;
				&:hover,
				&:focus {
					color: $white;
				}
			}
		}
		a {
			@include transition;
			color: $grey-sidebar;
			&:hover,
			&:focus {
				color: $grey-sidebar;
			}
		}
		.divider {
			background-color: $grey-border;
		}
	}
	.dropdown-language {
		.dropdown-menu {
			min-width: 74px;
		}
	}
	.dropdown-new {
		.dropdown-toggle {
			font-size: 1.4em;
		}
	}
}

// --- [ SEARCH ]
.navbar-search {
	position: relative;
}
.search-results {
	font-family: $font;
	color: $grey-sidebar;
	position: absolute;
	top: 100%;
	width: 100%;
	background-color: $white;
	border: 1px solid $grey-medium;
	margin-top: 2px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	// padding: 10px 15px;
	&-type {
		background-color: $grey-medium;
		display: block;
		padding: 5px 13px;
		font-weight: 500;
	}
	.type-results {
		a {
			display: block;
			padding: 5px 13px 5px 35px;
			position: relative;
			&:hover,
			&:focus {
				background-color: $grey-sidebar;
				color: $grey-sidebar-font;
			}
			&:before {
				content: '\f138';
				position: absolute;
				font-family: 'FontAwesome';
				left: 13px;
				opacity: 0.3;
			}
		}
	}
}

// Subnav
.subnav {
	@include clearfix;
	width: 100%;
	height: $subnav-height;
	position: fixed;
	top: 60px;
	z-index: 1000;
	.menu-control {
		float: left;
		width: $sidebar-width;
		background-color: darken($grey-sidebar, 10%);
		padding-left: 15px;
		padding-right: 15px;
		ul {
			margin-bottom: 0;
			li {
				color: $grey-sidebar-font;
				line-height: $subnav-height;
			}
		}
		.menu-header {
			text-transform: uppercase;
			font-size: 11px;
			font-family: $font;
			font-weight: 300;
		}
	}
	.control-bar {
		@include clearfix;
		background-color: $white;
		padding-left: $sidebar-width + 30px;
		padding-right: 30px;
		.breadcrumb {
			background-color: transparent;
			float: left;
			margin-bottom: 0;
			padding: 0;
			& > li {
				& + li {
					&:before {
						content: '\f105';
						font-family: 'FontAwesome';
						padding: 0 7px;
					}
				}
			}
		}
		.control-buttons {
			float: right;
			margin-bottom: 0;
			.btn-sm {
				padding-top: 3px;
				padding-bottom: 3px;
			}
		}
		ol,
		ul {
			li {
				line-height: $subnav-height;
			}
		}
	}
}
