// Email
.page-email {
	.btn-add-new {
		display: none;
	}
}
.table-email-list {
	height: 100%;
	max-width: 50%;
	border-right: 1px solid $grey-medium;
	float: left;
	tbody {
		& > tr {
			&:hover {
				cursor: pointer;
			}
		}
	}
	.mail-active {
		background-color: rgba($grey-sidebar, 0.3) !important;
	}
	.mail-unread {
		td {
			font-weight: 700;
		}
	}
	.mail-read {
		td {
			color: lighten($grey-sidebar, 10%);
		}
	}
	// Checkboxes
}

// Message
.table-email-message {
	position: relative;
}
.email-message {
	padding: 20px 30px;
	color: $grey-sidebar;
	line-height: 1.5em;
}

// Attachements
.email-attachments {
	position: fixed;
	bottom: 0;
	padding: 30px;
	border-top: 1px solid $grey-medium;
	background-color: $white;
	width: 100%;
	a {
		color: $grey-sidebar;
		&:hover,
		&:focus {
			.icon {
				opacity: 1;
			}
		}
		.icon {
			@include transition;
			width: 20px;
			opacity: 0.6;
		}
	}
}

// Att modal
.modal-header {
	background-color: $grey-sidebar;
}
.modal-title {
	font-family: $font;
	font-weight: 500;
	color: $grey-sidebar-font;
}
.modal-email-attachments {
	.table-responsive {
		margin-left: -15px;
		margin-right: -15px;
		thead,
		tbody {
			tr {
				td,
				th {
					&:first-child {
						padding-left: 15px;
					}
					&:last-child {
						padding-right: 15px;
					}
				}
			}
		}
		thead {
			tr {
				th {
					background-color: $grey-light;
					border-bottom: 0;
				}
			}
		}
		tbody {
			tr {
				&.active {
					background-color: $grey-light;
				}
			}
		}
	}
	// Close button (X)
	.close {
		@include transition;
		color: $white;
		text-shadow: none;
	}
}
.ur-broj {
	@include clearfix;
	margin-bottom: 30px;
	label {
		text-align: right;
		padding-top: 7px;
	}
}
.form-attachments {
	margin-bottom: 30px;
}
.table-select {
	
}
