// Template
html,
body {
	height: 100%;
}
// Body
body {
	background-color: $white;
	&.page-login {
		background: $brand-teal;
		background: linear-gradient(to left, $brand-teal, $brand-green-light);
	}
	&.page-index,
	&.page-email {
		padding-top: 110px;
	}
}

// Anchors
a {
	color: $grey;
	&:hover,
	&:focus {
		color: darken($grey, 10%);
		text-decoration: none;
	}
}

// Lists
.list-inline {
	li {
		padding-left: 0;
		padding-right: 0;
	}
}

// Container
.content,
.content-main {
	height: 100%;
}
.content {
	margin-left: $sidebar-width;
	margin-top: 1px;
	border-top: 1px solid $grey-medium;
	&.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
}
.content-main {
	padding: 25px;
	background-color: $white;
	&.content-table {
		padding: 0;
		.table {
			th,
			td {
				&:first-child {
					padding-left: 30px;
				}
				&:last-child {
					padding-right: 30px;
				}
			}
		}
	}
}

//--- [ PAGE HEADING ]
.page-heading {
	padding: 20px 30px;
	border-bottom: 1px solid $grey-bg;
	position: relative;
	.page-title {
		font-family: $font;
		color: $grey-sidebar;
		margin: 0;
	}
	.page-subtitle {
		color: $grey;
		font-family: $font;
	}
	// Page control
	.page-control {
		font-family: $font;
		font-weight: 500;
		position: absolute;
		right: 30px;
		top: 20px;
		ul {
			margin-bottom: 0;
			li {
				vertical-align: middle;
			}
		}
		.dropdown-toggle {
			border-right: 1px solid $grey-medium;
			position: relative;
			display: block;
			text-align: right;
			padding-right: 50px;
			// margin-right: 25px;
			small {
				text-transform: uppercase;
				font-weight: 400;
				font-size: 10px;
			}
			.icon {
				position: absolute;
				right: 18px;
				top: 50%;
				margin-top: -0.5em;
				font-size: 20px;
			}
		}
		.dropdown-menu-right {
			right: 50px;
			& > .active {
				& > a {
					background-color: $grey-sidebar;
				}
			}
		}
		.btn-add-new {
			margin-left: 25px;
		}
		// Filter
		.page-view {
			font-size: 16px;
		}
	}
}

// Dropdowns
.dropdown-menu {
	box-shadow: none;
	@include breakpoint(sm) {
		.navbar-nav & {
			right: -1px;
		}
	}
	a {
		@include transition;
		&:hover,
		&:focus {
			.icon {
				opacity: 1;
			}
		}
		.icon {
			width: 20px;
			opacity: 0.6;
		}
	}
}

// Buttons
.btn {
	@include transition;
	font-family: $font;
	font-weight: 500;
	&-default {
		background-color: $grey-sidebar-font;
		border-color: $grey-sidebar-font;
		color: $grey-sidebar;
		&:hover,
		&:focus {
			background-color: darken($grey-sidebar-font, 10%);
			border-color: darken($grey-sidebar-font, 10%);
			color: $grey-sidebar;
		}
	}
	&-success {
		background-color: $brand-green;
		border-color: $brand-green;
		&:hover,
		&:focus,
		&:active,
		&:active:focus {
			background-color: darken($brand-green, 10%);
			border-color: darken($brand-green, 10%);
		}
	}
	&-danger {
		background-color: $brand-red;
		border-color: $brand-red;
		&:hover,
		&:focus {
			background-color: darken($brand-red, 10%);
			border-color: darken($brand-red, 10%);
		}
	}
}
.btn-group {
	&.open {
		.dropdown-toggle {
			box-shadow: none;
		}
		.btn-success {
			&.dropdown-toggle {
				background-color: darken($brand-green, 5%);
				border-color: darken($brand-green, 5%);
			}
		}
	}
}

// Alerts
.alert {
	&-danger {
		background-color: lighten($brand-red, 20%);
		color: darken($brand-red, 20%);
	}
}

//--- [ PANELS ]
.panel {
	border: 0;
	background-color: rgba($white, 0.9);
}
// Panel heading
.panel-heading {
	padding: 30px 25px;
	background-color: transparent !important;
	border-color: #ddd !important;
	.panel-title {
		font-family: $font;
		font-weight: 700;
		text-transform: uppercase;
		color: $grey-dark;
		font-size: 1.8em;
	}
}
// Panel body
.panel-body {
	padding: 30px 25px;
	label {
		color: #777;
		font-size: 1.1em;
	}
}
// Panel footer
.panel-footer {
	padding: 10px 25px;
	background-color: transparent;
	a {
		@include transition;
	}
}

//--- [ FORMS ]
.control-label {
	font-family: $font;
	font-weight: 700;
	color: $grey-sidebar;
}
.form-control {
	box-shadow: none;
	border-color: #ddd;
	&:focus {
		border-color: $brand-teal;
		box-shadow: none;
	}
}
input[type="checkbox"] {
	margin-left: 0 !important;
}
// Checkboxes
.checkbox {
	@extend %checkbox;
	@include transition;
	@include checkbox($grey-dark, '\f0c8', '\f14a');
}

// --- [ TABLES ]
.table {
	font-family: $font;
	margin-bottom: 0;
	color: $grey-sidebar;
	// Thead
	thead {
		th {
			font-weight: 700;
			a {
				display: block;
				color: $grey-sidebar;
			}
			.table-sort {
				@include transition;
				float: right;
				font-size: 16px;
				opacity: 0;
			}
			&:hover {
				.table-sort {
					opacity: 1;
				}
			}
		}
	}
	// Tbody
	tbody {
		td {
			font-weight: 400;
			border-top: 0 !important;
		}
	}
	// Buttons 
	.btn-sm {
		padding-top: 0;
		padding-bottom: 0;
	}
	.show-all {
		padding-top: 15px;
		padding-bottom: 15px;
		a {
			color: $grey-sidebar;
			font-size: 16px;
			font-weight: 500;
			&:hover,
			&:focus {
				color: darken($grey-sidebar, 10%);
			}
		}
	}
	// Dropdowns
	.dropdown-table-edit {
		background-color: darken($brand-green, 10%);
		border-color: darken($brand-green, 10%);
		li {
			a {
				color: $white;
				font-size: 13px;
				&:hover,
				&:focus {
					background-color: $brand-green;
				}
			}
		}
	}
	// Checkboxes
	&.table-select {
		.select {
			width: 10px;
		}
		.checkbox {
			margin-top: 0;
			margin-bottom: 0;
			label {
				color: $grey-sidebar;
			}
		}
	}
}
.table-striped {
	& > thead {
		& > tr {
			th {
				background-color: $grey-light;
				border-bottom: 0;
			}
		}
	}
	& > tbody {
		& > tr {
			&:nth-of-type(odd) {
				background-color: $white;
			}
			&:nth-of-type(even) {
				background-color: $grey-light;
			}
		}
	}
}


// --- [ TABLE DATA ]
.table-accounts {
	width: 80%;
	float: left;
	border-right: 1px solid $grey-medium;
}
.table-filter {
	width: 20%;
	float: left;
	thead {
		& > tr {
			th {
				background-color: $grey-light;
				border-bottom: 0;
			}
		}
	}
}


// --- [ MODALS ]
.modal {
	.modal-header,
	.modal-footer {
		padding: 15px 25px;
	}
	.modal-body {
		padding: 25px;
	}
	// Tabbed modal
	&.modal-tabbed {
		.modal-content {
			background-color: transparent;
			box-shadow: none;
			border: 0;
		}
		.modal-header {
			padding: 0;
			border-bottom: 0;
			.nav-tabs {
				a {
					font-family: $font;
					font-weight: 500;
					color: $grey-sidebar-font;
					font-size: 18px;
					padding: 15px 25px;
					background-color: $grey-sidebar;
				}
				.active {
					a {
						background-color: $white;
						color: $grey-sidebar;
					}
				}
			}
		}
		.modal-body,
		.modal-footer {
			background-color: $white;
		}
	}
}














