// Colors
$black: #161616;
$white: #ffffff;

// Functional colors
$func-yellow: #ffca3a;
$func-green: #8dc63f;
$func-blue: #1982c4;
$func-red: #ff595e;

// Brand colors
$brand-teal: #96ced3;
$brand-green: #b5d16c;
$brand-green-light: #cbde9a;
$brand-red: #d39b96;

// Monochrome
$grey: #acacac;
$grey-light: #fafafa;
$grey-medium: #f1f1f1;
$grey-border: #e7e7e7;
$grey-dark: #7b7b7b;

// Social colors

// Fonts
$font-fallback: Helvetica, Arial, sans-serif;
$font: 'Quicksand', $font-fallback;
